<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Calculo de compras</h1>
        <form method="POST">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" required>
            <input type="number" name="edad" placeholder="Ingresa tu edad" required>
            <input type="number" name="cantidad" placeholder="Ingresa la cantidad de tarros de pintura a comprar" required>
            <button type="submit">Calcular</button>
        </form>

        {% if resultado %}
        <div class="resultado">
            <p><strong>Nombre del cliente:</strong> {{ resultado.nombre }}</p>
            <p><strong>Total sin descuento:</strong> ${{ "{:,.0f}".format(resultado.total_sin_descuento) }}</p>
            <p><strong>El descuento es:</strong> ${{ "{:,.0f}".format(resultado.monto_descuento) }}</p>
            <p><strong>El total a pagar es de:</strong> ${{ "{:,.0f}".format(resultado.total_con_descuento) }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
